.media-element{
    scroll-snap-align: center;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 7px 21px 0 rgb(0 0 0 / 10%);
}
.media-scroller .media-element > img{
    margin-bottom: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;

    inline-size: 100%; /*logical property for vertical text*/
}
.media-element__title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;

    /*border: limegreen 3px solid;*/
    grid-column-gap: 20px;
    overflow-x: auto;
}
.media-scroller::-webkit-scrollbar {
    display: none;
}

.scroller-controls{
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    /*scroll-padding-inline:20px ;*/
}

/*TODO: TABLET AND DESKTOP MEDIA QUERIES*/
@media screen and (min-width: 768px) {
    .media-scroller {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 450px;
    }
}