/*TODO: HERO SECTION*/
.hero {
    background-color: #111;
    height: 100vh;
    width: 100%;
}

#hero-section {
    height: calc(100% - 80px);
    width: calc(100% - 60px);
    margin: auto;
}
.hero-lede h2{
    font-size: 3rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2.5rem;
}
.hero-lede p{
    font-weight: 300;
    margin-bottom: 2.6rem;
    letter-spacing: 0.08rem;
}
.hero-lede-btn{
    /*width: 120px;*/
    /*height: 30px;*/
    /*padding: 12px 30px;*/
    padding: 12px 0px 12px 30px;
    padding-right: 30px;
    border: 5px;
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: var(--btn-accent);
    letter-spacing: 0.10rem;
    cursor: pointer;
    color: var(--white);
    transition: color 450ms ease, padding-right 450ms ease;
}

.hero-lede-btn:hover{
    background-color: coral;
    padding-right: calc(30px + 18px);
}
.hero-lede-btn:active{
    transform: scale(0.9);
}
.fa-arrow-right{
    transform: translateX(0);
    transition: all 355ms ease-out 150ms;
    position: relative;
    z-index: 3;
}
/*Im basically saying, select any fa-arrow-right thats inside of a hovered hero lede btn*/
.hero-lede .hero-lede-btn:hover > .fa-arrow-right{
    transform: translateX(16px);
}

/*hero-section-wrapper CSS GRID*/
.hero-section-wrapper-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,500px));
    grid-row-gap: 60px;
    justify-content: center;
}

/*hero slider*/
.hero-slider h2{
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.08rem;
}