/* using flex-box instead of grid */
.latest-services-title,
.profile-reviews-title {
    font-size: clamp(3.3rem, 2.875rem + 2.4286vw, 5rem);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 0 2rem 0;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--spacing8);
}

.profile-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}
.seller-profile-description-wrapper {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 40px;
}
/*.seller-profile-description-wrapper .fa-pencil{*/
/*    position: absolute;*/
/*   top: -16px;*/
/*    right: 0;*/
/*}*/
.profile-pic-div {
    position: relative;
    width: 300px;
}
.profile-pic-div #upload-btn {
    position: absolute;
    bottom: 45px;
    /*right:117px;*/
    height: 53px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(17, 17, 17, 0.69);
    font-size: 1.4rem;
    text-align: center;
}
.profile-pic-div .main-profile-img {
    clip-path: ellipse(33% 40% at 50% 50%);
    width: 300px;
}

.profile-details .profile-username {
    font-size: 8rem;
    font-weight: 200;
    text-align: left;
    margin-bottom: 3.5rem;
    line-height: 1.2;
}

.profile-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.user-edit {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; */
    /* width: 500px; */
    position: relative;
}

.profile-details-wrapper .profile-edit-btn {
    width: 100px;
    height: 37px;
    background-color: var(--btn-accent);
    color: whitesmoke;
    font-size: 1.6rem;
    letter-spacing: var(--spacing4);
    border-radius: 3px;
    margin-bottom: 3rem;
    transition: opacity 450ms ease;
    align-self: flex-start;
    opacity: 0.3;
    position: absolute;
    top: -42px;
    right: 0;
}

.profile-details-wrapper .profile-edit-btn:hover {
    opacity: 1;
}
/* PROFILE NAVIGATION */
.profile-navigation {
    margin-bottom: 3rem;
    max-width: 650px;
    margin: 0 auto;
}
.profile-navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.profile-navigation ul li a {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    padding: 10px;
}

/* SERVICES PROFILE CARDS */
.services-profile-card__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1.2rem;
    max-width: 1000px;
}

.services-profile__username-wrapper {
    padding: 0 25px;
}

.services-profile__cards {
    background-color: var(--orange);
    width: 300px;
    border-radius: 13px;
    position: relative;

    overflow: hidden;
    padding-bottom: 10px;
    border: 3px solid black;
}
.services-profile__cards::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(to bottom, rgb(51, 51, 51), transparent);
}
.services-profile__cards img {
    /* position: absolute; */
    background-size: cover;
    background-position: 50px 150px;
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
}

.services-profile-card__username {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: var(--spacing4);
    margin: 10px 0 0 10px;

    position: absolute;
    top: 0;
    z-index: 55;
}
.services-profile-card__description,
.services-profile-card__price {
    color: var(--white);
    font-size: 1.8rem;
}

.services-profile__cards-bottom {
    padding: 0 10px 0 10px;
}

/* Card Description Wrapper */
.services-profile-card__description-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.services-profile-card__ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-radius: 15px;
    padding: 5px 15px;
}
.services-profile-card__ratings .fa-star,
.services-profile-card__ratings-percent {
    color: goldenrod;
    padding-right: 2px;
}
.services-profile-card__ratings-jobs {
    color: rgb(107, 107, 107);
}
.services-profile-card-price-span {
    font-size: 2.5rem;
    color: rgb(230, 229, 229);
}
.services-card-hyperlinks:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    color: white;
}

/* REVIEWS SECTION */
.services-profile__reviews-container {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
    /* gap: 1.2rem; */
    max-width: 1000px;
}

.new-review_customer-wrapper {
    width: 100%;
    margin-bottom: 65px;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

.customer-username-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    margin-bottom: 1.5rem;
}
.customer-username {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 5px;
}
.reviews__customer-rating {
    color: gold;
    font-size: 1.5rem;
    padding-left: 2px;
}
.customer-username-wrapper .fa-star {
    color: gold;
    font-size: 1.8rem;
}
.new-review_customer-review {
    letter-spacing: 0.03em;
    max-width: fit-content;
}
/* FOR MEDIA QUERY */
@media screen and (min-width: 768px) {
    .profile-details .profile-username {
        font-size: 10rem;
        font-weight: 200;
        text-align: left;
        margin-bottom: 3rem;
        line-height: 1.2;
    }
}
/* .profile-details {
	display: flex;
	align-items: center;
	justify-content: start;
}
.profile-details img {
	clip-path: ellipse(33% 40% at 50% 50%);
	width: 300px;
}
.profile-details .profile-username {
	font-size: 9rem;
	font-weight: 200;
}
.profile-details-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
} */