/* using flex-box instead of grid */

.profile-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.profile-details img {
    clip-path: ellipse(33% 40% at 50% 50%);
    width: 300px;
}

.profile-details .profile-username {
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 3rem;
}

.profile-details-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.profile-details-wrapper .profile-edit-btn {
    width: 140px;
    height: 47px;
    background-color: #4b2fa187;
    color: rgba(245, 245, 245, 0.739);
    font-size: 1.6rem;
    letter-spacing: var(--spacing4);
    border-radius: 3px;
    margin-bottom: 3rem;
    transition: background-color 450ms ease;
}

.profile-details-wrapper .profile-edit-btn:hover {
    background-color: var(--btn-accent);
    color: whitesmoke;
}
/* PROFILE NAVIGATION */
.profile-navigation {
    margin-bottom: 3rem;
}
.profile-navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.profile-navigation ul li a {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

/* SERVICES PROFILE CARDS */
.services-profile-card__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1.2rem;
    max-width: 1000px;
}

.services-profile__username-wrapper {
    padding: 0 25px;
}

.services-profile__cards {
    background-color: var(--orange);
    width: 300px;
    border-radius: 13px;
    position: relative;

    overflow: hidden;
    padding-bottom: 10px;
    border: 3px solid black;
}
.services-profile__cards::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(to bottom, rgb(51, 51, 51), transparent);
}
.services-profile__cards img {
    /* position: absolute; */
    background-size: cover;
    background-position: 50px 150px;
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
}

.services-profile-card__username {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: var(--spacing4);
    margin: 10px 0 0 10px;

    position: absolute;
    top: 0;
    z-index: 55;
}
.services-profile-card__description,
.services-profile-card__price {
    color: var(--white);
    font-size: 1.8rem;
}

.services-profile__cards-bottom {
    padding: 0 10px 0 10px;
}

/* Description Wrapper */
.services-profile-card__description-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.services-profile-card__ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-radius: 15px;
    padding: 5px 15px;
}
.services-profile-card__ratings .fa-star,
.services-profile-card__ratings-percent {
    color: goldenrod;
    padding-right: 2px;
}
.services-profile-card__ratings-jobs {
    color: rgb(107, 107, 107);
}
.services-profile-card-price-span {
    font-size: 2.5rem;
    color: rgb(230, 229, 229);
}
.services-card-hyperlinks:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    color: white;
}

/* REVIEWS SECTION */
.services-profile__reviews-container {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
    /* gap: 1.2rem; */
    max-width: 1000px;
}

.new-review_customer-wrapper {
    width: 100%;
    margin-bottom: 65px;
    border-bottom: 2px solid rgb(200, 200, 200);
    padding-bottom: 20px;
}

.customer-username-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    margin-bottom: 1.5rem;
}
.customer-username {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 5px;
}
.reviews__customer-rating {
    color: gold;
    font-size: 1.5rem;
    padding-left: 2px;
}
.customer-username-wrapper .fa-star {
    color: gold;
    font-size: 1.8rem;
}
.new-review_customer-review {
    letter-spacing: 0.03em;
    max-width: fit-content;
}
/* FOR MEDIA QUERY */
/* .profile-details {
	display: flex;
	align-items: center;
	justify-content: start;
}
.profile-details img {
	clip-path: ellipse(33% 40% at 50% 50%);
	width: 300px;
}
.profile-details .profile-username {
	font-size: 9rem;
	font-weight: 200;
}
.profile-details-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
} */